@import "../assets/fonts.css";

* {
  font-family: 'SBL BibLit' !important;
}

html, body, #root {
  height: 100%;
}

body {
	background-color: white;
	color: black;
  margin: auto;
}

#root {
  display: flex;
  width: 100%;
}

#hidden-containers {
  display: none;
}
